<ion-app>

  <ion-menu side="start" menuId="first" contentId="main">

      <ion-toolbar>
        <ion-searchbar type="text" showCancelButton searchIcon="search" debounce="300" animated cancel-button-icon (ionChange)="getFilteredCities($event.target.value)"  placeholder="Search a city..."></ion-searchbar> 
      </ion-toolbar>

    <ion-content>
        <ion-list *ngIf="this.navigation.filteredCities">
            <ion-item button class="text-center" (click)="searchWeather(city.name, city.country_code, this.navigation.metric)"  *ngFor="let city of this.navigation.filteredCities">
              {{ city.name }} , {{ city.country }}
            </ion-item>
        </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>

</ion-app>
<!--  -->