<ion-content [fullscreen]="true">
  <div id="container">

    <ion-row>
      <ion-col size="3">

        <ion-searchbar type="text" showCancelButton searchIcon="search" debounce="200" animated cancel-button-icon (ionChange)="getFilteredCities($event.target.value)" placeholder="Search a city..."></ion-searchbar>

        <ion-list *ngIf="this.cities">
            <ion-item button (click)="searchWeather(city.name)" *ngFor="let city of cities">
              {{ city.name }} , {{ city.country }}
            </ion-item>
        </ion-list>
      
      </ion-col>
    </ion-row>


    <ion-card size="3" *ngIf="weatherData">

        <ion-row>
          <ion-col>
            <img width="110" src="http://openweathermap.org/img/wn/{{weatherData.weather[0].icon}}@2x.png">
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <h1 text-center>{{weatherData.name}}, {{weatherData.sys.country}}  </h1>
          </ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col>
            <h1>{{weatherData.weather[0].description}}</h1>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <h1>{{weatherData.main.temp}}°</h1>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>
            <h1>MIN: </h1>
          </ion-col>
          <ion-col>
            <h1>MAX: </h1>
          </ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col>
            <h1>{{weatherData.main.temp_min}} °</h1>
          </ion-col>
          <ion-col>
            <h1>{{weatherData.main.temp_max}} °</h1>
          </ion-col>
        </ion-row>
  
    </ion-card>





 
  </div>
</ion-content>