
  <ion-header>
    <ion-toolbar>

      <ion-row class="ion-text-center">
     
        <ion-toolbar>
          
          <ion-row class="justify-content-center text-center">
            <ion-title>Weather Project</ion-title>
            
            <ion-item>
              <ion-label> F° / C°</ion-label>
              <ion-toggle [(ngModel)]="this.navigation.metric" color="primary" [checked]="this.navigation.metric"></ion-toggle>
            </ion-item>
          </ion-row>
       
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>

        </ion-toolbar>
        
      </ion-row>
      
    </ion-toolbar>
  </ion-header>


<ion-content [fullscreen]="false" class="ion-padding">
  

  <div id="container">
       
    <ion-card size="3" *ngIf="this.navigation.weatherNow">

     

        <ion-row>
          <ion-col>
            <img width="110" src="http://openweathermap.org/img/wn/{{this.navigation.weatherNow.weather[0].icon}}@2x.png">
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <h3 text-center>{{this.navigation.weatherNow.name}}, {{this.navigation.weatherNow.sys.country}}  </h3>
          </ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col>
            <h4>{{this.navigation.weatherNow.weather[0].description}}</h4>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <h2>{{this.navigation.weatherNow.main.temp}}°</h2>
          </ion-col>
        </ion-row>

        <ion-row>

          <ion-col size="4">
            <ion-label>Pressure</ion-label>
          </ion-col>

          <ion-col size="4">
            <ion-label>Humidity</ion-label>
          </ion-col>

          <ion-col size="4">
            <ion-label>Speed</ion-label>
          </ion-col>

        </ion-row>

        <ion-row>
         
          <ion-col size="4"><fa-icon [icon]="faThermometerHalf"></fa-icon>    {{this.navigation.weatherNow.main.pressure}}</ion-col>
          <ion-col size="4"><fa-icon [icon]="faTint"></fa-icon>   {{this.navigation.weatherNow.main.humidity}}</ion-col>
          <ion-col size="4"><fa-icon [icon]="faWater"></fa-icon>   {{this.navigation.weatherNow.wind.speed}}   </ion-col>

        </ion-row>
        
        <ion-row>
          <ion-col>
            <h5>MIN: </h5>
          </ion-col>
          <ion-col>
            <h5>MAX: </h5>
          </ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col>
            <h4>{{this.navigation.weatherNow.main.temp_min}} °</h4>
          </ion-col>
          <ion-col>
            <h4>{{this.navigation.weatherNow.main.temp_max}} °</h4>
          </ion-col>
        </ion-row>


        <ion-row *ngIf="this.navigation.weatherForecast">
          <ion-col *ngFor="let forecast of this.navigation.weatherForecast">
            {{forecast.day}}
            <img width="110" src="http://openweathermap.org/img/wn/{{forecast.icon}}@2x.png">
              {{forecast.temp}}°       
  
          </ion-col>
        </ion-row>
  
    </ion-card>

  </div>




  
  
</ion-content>

